.RoundButton {
  border-radius: 50%;
  padding: 58px;
  background-color: #ff4f28;
  outline: none;
  font-size: 30px;
  font-family: Montserrat;
  text-shadow: 4px 4px black;
  color: white;
  line-height: 1.9;
  box-shadow: 5px 10px #282828;
  margin-bottom: 80px
}

.ErrorAlert {
  box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.74);
  font-size: 20;
  background-color: #A9A9A9;
  padding: 40px
}

.WinAlert {
  box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.74);
  font-size: 20;
  background-color: #f9ff57;
  padding: 40px
}