@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

.PointsDisplayHeader {
  font-family: Oswald;
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 18px;
}

.PointsDisplay {
  margin: 0 auto;
  font-size: 50px;
  font-family: Montserrat;
  letter-spacing: 3px;
  text-shadow: 5px 5px black;
  color: white;
}

.RestartButton {
  background-color: #282828;
  outline: none;
  color: white;
  padding: 6px;
  border-radius: 20%;
  font-family: Oswald;
  font-size: 24px;
}